<header>
    <div class="header-container">
        <div class="logo" [routerLink]="['/']">
            <img src="icon.png" alt="Logo">
            <h1>SimpleNotes</h1>
        </div>

        <div class="icons">
            <ng-icon class="cursor-pointer" [name]="this.themeIcon" (click)="this.toggleTheme()" size="40" />
            @if (this.isLogged()) {
                <ng-icon class="cursor-pointer" name="lucideLogOut" (click)="this.logOut()" size="40" />
            }
        </div>
    </div>
</header>